@media (max-width: 640px) {
  .new-tweet {
    display: none;
  }
}

section {
  border-radius: 5px;
  margin: 2em;
  padding: 10px;
  border: solid #dddddd 1.5px;
  background-color: #eeeeee;
}
.new-tweet h2 {
  border-bottom: solid black 1px;
  margin-top: 0;
}
.new-tweet {
  padding-bottom: 30px;
}
textarea {
  width: 100%;
  resize: vertical;
}
#errorMsg {
  float: left;
  visibility: hidden;
  padding-left: 40px;
}
input {
  float: left;
}
.counter {
  float: right;
}
.error {
  color: red;
}
