article {
  border-radius: 5px;
  margin: 2em;
  border: solid #dddddd 1.5px;
  background-color: #FFFFFF;
}
article:hover {
  border: solid #aaaaaa 1.5px;
}
article header {
  background-color: #eeeeee;
  padding: 10px;
  position: relative; /*need this if i want to use position: absolute later on*/
  height: 80px;
  opacity: 0.8;
}
article:hover header {
  opacity: 1;
}
article header img {
  height: 60px;
  width: 60px;
  border-radius: 5px;
  float: left;
}
article header h2 {
  margin: 0; /*cut out the auto added margin for <h3>*/
  float: left;
  margin: 10px;
}
article header div {
  float: right;
  margin: 15px 5px 0 4px;
}
article p {
  padding: 1em;
}
article footer {
  border-top: solid #eeeeee .5px;
  font-size: 80%;
  padding: 1em;
}
article footer .icons {
  visibility: hidden;
  float: right;
}
article:hover footer .icons {
  visibility: visible;
}
article footer .icons i {
  padding: 2px;
}
